.is-style-resume-skills {
	list-style: none;
	padding: 0;

	li {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 10% 1rem;

		strong {
			font-weight: 400;
			order: 0;
		}

		&::before {
			border-bottom: dotted 2px #ccc;
			content: "";
			display: block;
			margin: 0 1rem;
			order: 1;
			width: 100%;
		}

		em {
			font-style: normal;
			order: 2;
		}
	}
}
