.block-skill {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 10% 1rem;

	strong {
		font-weight: 400;
		order: 0;
		padding: 0 1rem 0 0;
		white-space: nowrap !important;
	}

	&::before {
		border-bottom: dotted 2px var(--wp--preset--color--light-gray);
		content: "";
		display: block;
		margin: 0;
		order: 1;
		width: 100%;
	}

	.block-skill-level {
		color: var(--wp--preset--color--luminous-vivid-orange);
		font-style: normal;
		order: 2;
		padding: 0 0 0 1rem;
		white-space: nowrap !important;
	}

	> .components-base-control {
		order: 2;
		padding: 0;

		select {
			min-width: 120px;
		}
	}
}