body {
	background: var(--wp--preset--gradient--cool-to-warm-spectrum);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

/* Elements */
img {
	height: auto;
	max-width: 100%;
}

p,
ul {
	line-height: 1.5;
}

a {
	color: var(--wp--preset--color--vivid-cyan-blue);
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		color: var(--wp--preset--color--dark-cyan-blue);
		text-decoration: underline;
	}
}
