body {
	background: #39c;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	box-sizing: border-box;
}

/* Elements */
img {
	height: auto;
	max-width: 100%;
}

p,
ul {
	line-height: 1.5;
}

a {
	color: #1982d1;
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		color: #1982d1;
		text-decoration: underline;
	}
}
