
.wp-site-blocks {
	background: var(--wp--preset--color--white);
	border-top: 2px solid var(--wp--preset--color--light-gray);
	margin: 2rem auto;
	max-width: 1000px;
}

.site-header {
	padding: 2rem 0 0;

	.alignwide {
		padding: 0 4rem;
	}
}

.site-main {
	max-width: 80%;
	margin: 2rem auto;
}

.site-footer {
	border-top: 1px solid var(--wp--preset--color--light-gray);
	padding: 2rem 0 0;
	margin-top: 6rem;

	.alignwide {
		padding: 0 4rem;
	}
}

.colophon {
	background: var(--wp--preset--color--off-white);
	border-top: 1px solid var(--wp--preset--color--light-gray);
	padding: 1rem 0;
}

// Responsive Styles
// @media (max-width: 800px) {
// 	@import 'layout-800';
// }
// @media (max-width: 600px) {
// 	@import 'layout-600';
// }
